* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 12px;
    /* flex-direction: column; */
}


.box {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: green;
}

/* h1 {
    font-size: 48px;
    font-family: Arial, sans-serif;
    display: inline-block;
}

*/

.char {
    display: inline-block;

}